.row
  .col-xs-1
    %ul.nav.nav-pills.nav-stacked
      - unless params[:mailing_type] == :sequence
        %li= link_to "New mailing", :action => :new, :controller => "mailings", :mailing_type => params[:mailing_type]
      - else
        %li= link_to "New sequence", :action => :new, :controller => "sequences"
  .col-xs-9
    = render :partial => 'print'
