%ul.breadcrumb
  - if @sequence
    Sequence
    %em
      /= link_to @mailing.sequence.title, admin_newsletters_sequence_path(@mailing.sequence)
    %span.divider
      &raquo;
  %li 
    New mailing

.row
  .col-xs-1
  .col-xs-10
    = render :partial => 'form'
