- unless @logs.empty?
  %table.table.table-striped
    %thead
      %tr
        %th Id
        %th Delivery date
        %th Opened
        %th Opened at
        
    %tbody
      - @logs.each do |log|
        %tr
          = render :partial => "maily_herald/webui/dashboard/log", :locals => {:object => log}
- else
  %p.alert No delivery logs
