- unless smart_list.collection.empty?
  %table.table.table-striped
    %thead
      %tr
        %th Processed at
        %th Entity
        %th Mailing
        %th Status
        %th.span1
        
    %tbody
      - smart_list.collection.each do |log|
        %tr
          = render :partial => "maily_herald/webui/dashboard/log", :locals => {:object => log}

  = smart_list.paginate 
  = smart_list.pagination_per_page_links
- else
  %p.alert No delivery logs
