html {
  position: relative;
  min-height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.maily-preview-container {
  width: 80%;
  margin: 0 auto;
}

.maily-preview-container > * {
  margin: 0 auto;
}
