<!DOCTYPE html>
<html>
<head>
  <title>MailyHerald</title>
  <%= stylesheet_link_tag    "maily_herald/application", :media => "all" %>
  <%= javascript_include_tag "maily_herald/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :template => 'layouts/maily_herald/webui'%>

</body>
</html>
