%link{href: url('stylesheets/bootstrap.css'), rel: "stylesheet", type: "text/css"}/
%h1
  example page header
  %small Subtext for header
  
%ul.nav.nav-tabs
  %li.active
    %a{href: "#"} Home
  %li
    %a{href: "#"} Profile
  %li
    %a{href: "#"} Messages
